<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        
        <% if (!user) { %>  <!-- If user is NOT logged in -->
            <li><a href="/auth/signin">Sign In</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
        <% } else { %>  <!-- If user is logged in -->
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/signout">Sign Out</a></li>
        <% } %>
    </ul>
</nav>
