<nav>
    <p>
    <a href="/">  Home | </a>
        <% if (!user) { %>  <!-- If user is NOT logged in -->
            <a href="/auth/signin">Sign In</a>
            <a href="/auth/signup">Sign Up</a>
        <% } else { %>  <!-- If user is logged in -->
           <a href="/recipes">  View My Recipes | </a>
           <a href="/users">Community</a>
           <a href="/auth/sign-out">  Sign Out</a>
        <% } %>
        </p>
</nav>
