<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Recipe</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Add a new recipe!</h1>
    <form action="/recipes" method="POST">
        <label for="recipe-name">Recipe Name:</label>
        <input type="text" name="recipe-name" id="recipe-name" />

        <label for="instructions">Instructions:</label>
        <input type="text" name="instructions" id="instructions" />

        <label for="owner"><%= user.username %></label>
        <!-- <input type="text" name="flower" id="flower" /> -->

        <label for="insgredients">Ingredients:</label>
        <input type="text" name="ingredients" id="ingredients" />

        <button type="submit">Add Recipe</button>
    </form>
</body>
</html>