<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Recipe</title>
</head>
<body>
    <h1>Add a new recipe!</h1>
    <%- include('../partials/_navbar.ejs') %>
    <form action="/recipes" method="POST">
        <label for="recipe-name">Recipe Name:</label>
        <input type="text" name="name" id="recipe-name" />
<br>
<br>
        <label for="instructions">Instructions:</label>
        <input type="text" name="instructions" id="instructions" />
<br>
<br>
        <label for="owner">Owner: <%= user.username %></label>
<br>
<br>
        <!-- <label for="ingredients">Ingredients:</label>
        <input type="text" name="ingredients" id="ingredients" /> -->
<br>
<br>
        <button type="submit">Add Recipe</button>
    </form>
</body>
</html>